/* 
 * Copyright (c) The Gupta Empire - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 *
 * Written by Aryan Gupta <me@theguptaempire.net>, February 2017
 * 
 * =============================================================================
 * @author Aryan Gupta
 * @project Console Battleship
 * @title Resource File
 * @date 2017-02-11 (YYYY-MM-DD)
 * @fversion 1.0.0
 * @description Finds prime numbers and outputs a bitmap displaying the primes
 * =============================================================================
 */
 
#include "info.h"

MAIN ICON R_MAINICON

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "ProductName", 		R_PROJNAME
			VALUE "InternalName",		R_PRGMNAME
			VALUE "ProductVersion",		R_PVERSION
			VALUE "CompanyName",		R_COMPANY
			VALUE "FileDescription",	R_DESCRIPTION
			VALUE "LegalCopyright",		R_COPYRIGHT
			VALUE "OriginalFilename",	R_ORGFILENAME
			VALUE "FileVersion",		R_FVERSION
			VALUE "Comments",			R_COMMENTS
			VALUE "LegalTrademarks",	R_LEGALTRDMKS
			VALUE "PrivateBuild",		R_PRIVATEBUILD
			VALUE "SpecialBuild",		R_SPECIALBUILD
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END
